<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
    <div class="container">
        <form class="form" th:action="@{/login}" th:method="post">
            <p th:if="${error}">Wrong user or password</p>
            <label for="username">Username</label>
            <input type="text" name="username" id="username"/>
            <br/>
            <label for="password">Password</label>
            <input type="password" name="password" id="password"/>
            <br/>
            <input type="submit" value="Login"/>
        </form>

        <br/><br/>
        <a href="/register">Registration</a>
    </div>

</body>
</html>