<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Project</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div class="header row">

    <div class="header__left-part row">
        <div class="header__home-button button">
            <a href="/">Home</a>
        </div>
        <div class="header__admin-button button" th:if="${isAdmin}">
            <a href="/admin">Admin</a>
        </div>
    </div>
    <div class="header__right-part row">
        <div class="header__logout">
            <form th:action="@{/logout}" th:method="post">
                <button type="submit" value="logout">Logout</button>
            </form>
        </div>
    </div>

</div>
<div class="content">
    <div class="project row">
        <div class="project-text">
            <h1 th:text="${project.name}">Project name</h1>
        </div>
        <div class="project-actions__to-parent" th:if="${parentId}">
            <a class="button" th:href="'/projects/' + ${parentId}">To parent project</a>
        </div>
        <div class="project-actions__rename" th:if="${isAdmin}">
            <a class="button" th:href="'/projects/' + ${project.id} + '/update'">Rename</a>
        </div>
        <div class="project-actions__delete">
            <form th:action="'/projects/' + ${project.id} + '/delete'" th:method="post" th:if="${isAdmin}">
                <input type="submit" value="Delete">
            </form>
        </div>

    </div>
    <div class="project-content row">
        <div class="subprojects content">
            <div class="subprojects__header row">
                <div class="subprojects__label">
                    <h2>Subprojects</h2>
                </div>
                <div class="subprojects__new-button">
                    <a th:href="'/projects/new?parent=' + ${project.id}" class="button" th:if="${isAdmin}">Add subproject</a>

                </div>
            </div>

            <div class="subprojects__listarea">

                <div th:each="subproject : ${subprojects}">
                    <a th:href="'/projects/' + ${subproject.id}" th:text="${subproject.name}"></a>
                </div>

            </div>
            <div class="subprojects__new"></div>
        </div>
        <div class="tasks content">
            <div class="tasks__header row">
                <div class="tasks__label">
                    <h2>Tasks</h2>
                </div>
                <div class="tasks__new-button">
                    <a class="button" th:href="'/tasks/new?project-id=' + ${project.id}">New task</a>
                </div>
            </div>

            <div class="tasks__listarea">

                <div th:each="task : ${tasks}">
                    <a th:href="'/tasks/' + ${task.id}" th:text="${task.name}"></a>
                </div>

            </div>
            <div class="tasks__new"></div>
        </div>
    </div>

</div>
</body>
</html>