<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Update task</title>
  <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div class="header row">

  <div class="header__left-part row">
    <div class="header__home-button button">
      <a href="/">Home</a>
    </div>
    <div class="header__admin-button button" th:if="${isAdmin}">
      <a href="/admin">Admin</a>
    </div>
  </div>
  <div class="header__right-part row">
    <div class="header__logout">
      <form th:action="@{/logout}" th:method="post">
        <button type="submit" value="logout">Logout</button>
      </form>
    </div>
  </div>

</div>

<div class="content">
  <form th:action="'/tasks/' + ${task.id}" th:method="post">
    <input hidden name="id" th:value="${task.id}">
    <input hidden name="projectId" th:value="${task.projectId}">
    <br/><br/>
    <label for="name">Task name</label>
    <input type="text" placeholder="Task name" name="name" th:value="${task.name}" id="name">
    <br/><br/>

    <p>Task type</p>
    <input th:checked="${task.getType().toString()} == TECHNICAL_SPECIALIST" type="radio" name="type" value="TECHNICAL_SPECIALIST">Technical
    <br/>
    <input th:checked="${task.getType().toString()} == MANAGER" type="radio" name="type" value="MANAGER">Manager
    <br/><br/>

    <p>Status</p>
    <input th:checked="${task.getStatus().toString()} == NEW" type="radio" name="status" value="NEW">NEW
    <br/>
    <input th:checked="${task.getStatus().toString()} == PROGRESS" type="radio" name="status" value="PROGRESS">PROGRESS
    <br/>
    <input th:checked="${task.getStatus().toString()} == DONE" type="radio" name="status" value="DONE">DONE
    <br/><br/>

    <textarea name="text" cols="90" rows="10" placeholder="Description" th:text="${task.text}"></textarea>
    <br/><br/>
    <input type="submit" value="Save changes">

    <br/><br/><br/><br/>

  </form>


</div>

</body>
</html>