<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Task</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div class="header row">

    <div class="header__left-part row">
        <div class="header__home-button button">
            <a href="/">Home</a>
        </div>
        <div class="header__admin-button button" th:if="${isAdmin}">
            <a href="/admin">Admin</a>
        </div>
    </div>
    <div class="header__right-part row">
        <div class="header__logout">
            <form th:action="@{/logout}" th:method="post">
                <button type="submit" value="logout">Logout</button>
            </form>
        </div>
    </div>

</div>

<div class="content">
    <h1 th:text="${task.name}">name</h1>
    <p>Type: <span th:text="${task.type}">type</span></p>
    <p>Status: <span th:text="${task.status}">status</span></p>
    <textarea cols="90" rows="10" placeholder="No description" th:text="${task.text}"></textarea>

    <p>Task created: <span th:text="${task.createTime}"></span></p>
    <p>Status updated: <span th:text="${task.statusUpdateTime}"></span></p>

    <a th:href="'/projects/' + ${task.projectId}" class="button">back to project</a>
    <br/><br/>
    <a th:href="'/tasks/' + ${task.id} + '/update'" class="button">Update task</a>
    <br/><br/>
    <form th:action="'/tasks/' + ${task.id} + '/delete'" th:method="post">
        <input type="submit" value="Delete task">
    </form>

</div>

</body>
</html>